@import "~normalize.css";
@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:wght@200;300;400;600;800;900&display=swap');

:root {
  --main-front-color: #3949AB;
  --main-front-gradient: rgba(57, 73, 171, 1);
  --main-error-color: #E41313;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-family: 'Nunito Sans', sans-serif;
}

body {

}

